.App {
  text-align: center;
}

.imageArray img {
  width: 200px;
  height: 200px;
  margin: 0, 0, 1em;
  display: inline-block;
}

img {
  margin: 0px, 30px, 0px, 0px;
  max-width: 20%;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.test {
  width: 100vh;
}

body {
  background-color: lightseagreen !important;
}

h2 {
  color: black;
}

h1 {
  color: lightskyblue;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.card-title {
  margin-bottom: 0.75rem;
  font-family: cursive;
  font-weight: bold;
  font-size: x-large;
  color: darkslategrey;
}

p {
  margin-bottom: 1rem;
  color: white;
  margin-top: 40px;
}

/* .modal-body {
  position: relative;
  display: flex;
  justify-content: center;
} */

.card {
  background-color: lightgoldenrodyellow;
}